<div th:fragment = "footer" style="background-color: #2d3142">
    <footer style="padding: 50px">
        <div class="row align-items-center">
            <div class="col align-items-center">
                <p style="font-size: 16px; color: white; margin: 0">© 2023 AssessIT - Conquer the IT landscape with ease</p>
            </div>
            <div class="col text-end" style="max-width: 110px; font-size: 25px; padding: 0">
                <a href="https://www.instagram.com/_yulka__16/" target="_blank" class="i-color">
                    <i class="bi bi-instagram" style="padding-right: 8px"></i>
                </a>
                <a href="https://github.com/Kucheryash/cp_7s" target="_blank" class="i-color">
                    <i class="bi bi-github" style="padding-right: 8px"></i>
                </a>
                <a href="https://t.me/@CurlyHorse" target="_blank" class="i-color">
                    <i class="bi bi-telegram"></i>
                </a>
            </div>
        </div>
    </footer>
</div>