<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
    <title>Анализ конкурентоспособности</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="icon" th:href="@{../../images/icon.png}" type="image/x-icon">
    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.3.js" integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.4.0/chart.min.js" integrity="sha512-7U4rRB8aGAHGVad3u2jiC7GA5/1YhQcQjxKeaVms/bT66i3LVBMRcBI9KwABNWnxOSwulkuSXxZLGuyfvo7V1A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.4.0/chart.js" integrity="sha512-6LKCH7i2+zMNczKuCT9ciXgFCKFp3MevWTZUXDlk7azIYZ2wF5LRsrwZqO7Flt00enUI+HwzzT5uhOvy6MNPiA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.5.0-beta4/html2canvas.min.js"></script>
    <link rel="stylesheet" href="../../static/styles/style.css">
    <script src="../../static/styles/script.js"></script>

</head>

<body th:object="${user}">
<header th:insert="~{fragments/header :: header}" style="margin: 0"></header>
<button onclick="topFunction()" id="topBtn" title="Go to top"><i class="bi bi-chevron-up"></i></button>

<div th:object="${company}">
    <section class="p-section" style="background-color: #2d3142">
        <div class="container text-center font-cyrillic" style="max-width: 800px">
            <h1 style="color: white; font-weight: bold">Анализ конкурентоспособности компании "<span class="text-capitalize" th:text="${company.getName()}">Название компании</span>"</h1>
            <br/>
            <p class="mb-4" style="color: white">Оценка позиции компании относительно конкурентов и выявление стратегий для улучшения её конкурентного положения на рынке</p>
            <br/>
            <p th:inline="text" th:text="${status}" style="color: #D4B5A7"></p>
        </div>
    </section>
    <div th:object="${swot}">
        <section class="p-section" style="background-color: #4F5D75">
            <div class="container text-center font-cyrillic">
                <h1 style="color: white; font-weight: bold">SWOT-анализ компании "<span class="text-capitalize" th:text="${company.getName()}">Название компании</span>"</h1>
                <br/>
                <p class="mb-4" style="color: white">Анализ сильных и слабых сторон</p>
            </div>
        </section>
        <section class="text-center" style="margin-top: 50px">
            <img src="../../images/logo.png" alt="Logo" width="80" height="80">
        </section>
        <section class="font-cyrillic p-section" style="padding-top: 50px">
            <div class="container align-items-center" style="padding-right: 200px; padding-left: 200px">
                <div class="row">
                    <div class="col-md-6">
                        <h2 style="color: #4F5D75; font-weight: bold">Сильные стороны (Strengths)</h2>
                        <p th:inline="text" th:each="strengths : ${swot.getStrengths().split('\n')}" th:text="${strengths}" style="margin-bottom: 8px"></p>
                    </div>
                    <div class="col-md-6">
                        <h2 style="color: #4F5D75; font-weight: bold">Слабые стороны (Weaknesses)</h2>
                        <p th:inline="text" th:each="weakness : ${swot.getWeaknesses().split('\n')}" th:text="${weakness}" style="margin-bottom: 8px"></p>
                    </div>
                </div>
                <div class="row mt-5">
                    <div class="col-md-6">
                        <h2 style="color: #4F5D75; font-weight: bold">Возможности (Opportunities)</h2>
                        <p th:inline="text" th:each="opportunities : ${swot.getOpportunities().split('\n')}" th:text="${opportunities}" style="margin-bottom: 8px"></p>
                    </div>
                    <div class="col-md-6">
                        <h2 style="color: #4F5D75; font-weight: bold">Угрозы (Threats)</h2>
                        <p th:inline="text" th:each="threats : ${swot.getThreats().split('\n')}" th:text="${threats}" style="margin-bottom: 8px"></p>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <div th:object="${competitivenessList}">
        <section class="p-section" style="background-color: #4F5D75">
            <div class="container text-center font-cyrillic">
                <h1 style="color: white; font-weight: bold">Оценка конкурентоспособности компании "<span class="text-capitalize" th:text="${company.getName()}">Название компании</span>"</h1>
                <br/>
                <p class="mb-4" style="color: white">Анализ рыночной доли компании</p>
            </div>
        </section>
        <section class="text-center" style="margin-top: 50px">
            <img src="../../images/logo.png" alt="Logo" width="80" height="80">
        </section>
        <section class="p-section align-items-center" style="padding-top: 50px">
            <div style="padding-left: 300px; padding-right: 300px">
                <h5 class="font-cyrillic text-center">В таблице показаны данные компании за 2022 год.</h5>
                <br/>
                <table>
                <tr style="background-color: #f2f2f2">
                    <th>Выручка компании, USD</th>
                    <th>Штатная численность сотрудников</th>
                    <th>Рост выручки, %</th>
                    <th>Рентабельность компании, %</th>
                    <th>Рыночная доля, %</th>
                    <th>Сфера деятельности</th>
                </tr>
                <tr th:each="competitiveness : ${competitivenessList}">
                    <td th:text="${competitiveness.revenue}"></td>
                    <td th:text="${competitiveness.employees}"></td>
                    <td th:text="${competitiveness.revenueGrowth}"></td>
                    <td th:text="${competitiveness.profitability}"></td>
                    <td th:text="${competitiveness.marketShare}"></td>
                    <td th:text="${competitiveness.activity}"></td>
                </tr>
            </table>
            </div>
        </section>
    </div>

    <section class="p-section" style="background-color: #4F5D75">
        <div class="container text-center font-cyrillic">
            <h1 style="color: white; font-weight: bold">Прогноз конкурентоспособности компании "<span class="text-capitalize" th:text="${company.getName()}">Название компании</span>"</h1>
            <br/>-
            <p class="mb-4" style="color: white">Предсказываем рост и конкурентные преимущества компании на основе анализа рынка</p>
        </div>
    </section>
    <section class="text-center" style="margin-top: 50px">
        <img src="../../images/logo.png" alt="Logo" width="80" height="80">
    </section>
    <section class="p-section" style="padding-top: 50px">
        <h5 class="font-cyrillic text-center">На графиках показана предполагаемая выручка и рыночная доля компании в 2023 году по месяцам.</h5>
        <br/><br/>
        <div class="row d-flex align-items-center justify-content-center" style="padding-left: 200px; padding-right: 200px; margin: 0">
            <div class="col d-flex align-items-center justify-content-center">
                <canvas id="revCompChart" width="400" height="350"></canvas>
            </div>
            <div class="col d-flex align-items-center justify-content-center">
                <canvas id="marketShareChart" width="400" height="350"></canvas>
            </div>
            <script>
                var forecastRevComp = [[${forecastRevComp}]];
                var forecastRevMarket = [[${forecastRevMarket}]];
                var forecastMarketShare = [[${forecastMarketShare}]];

                initializeCharts(forecastRevComp, forecastRevMarket, forecastMarketShare);
            </script>
        </div>
    </section>

    <div th:object="${plan}">
        <section class="p-section" style="background-color: #4F5D75">
            <div class="container text-center font-cyrillic">
                <h1 style="color: white; font-weight: bold">Рекомендации к построению стратегического плана компании "<span class="text-capitalize" th:text="${company.getName()}">Название компании</span>"</h1>
                <br/>
                <p class="mb-4" style="color: white">Предлагаем рекомендации для эффективного стратегического планирования, учитывая текущую ситуацию на рынке.</p>
            </div>
        </section>
        <section class="text-center" style="margin-top: 50px">
            <img src="../../images/logo.png" alt="Logo" width="80" height="80">
        </section>
        <section class="p-section align-items-center" style="padding-top: 50px">
            <div style="padding-left: 300px; padding-right: 300px">
                <h5 class="font-cyrillic" th:inline="text" th:text="${plan.getDescription()}"></h5>
            </div>
        </section>
    </div>

    <div class="font-cyrillic text-center" style="background-color: #4F5D75; padding-top: 30px; padding-bottom: 30px">
        <h4 style="color: white">Вы можете сохранить себе отчёт о конкурентоспособности Вашей компании.</h4>
        <br/>
        <form th:action="@{/save-report/{id}(id=${company.getId()})}" method="post">
            <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
            <button type="button" class="btn btn-light btn-orange" onclick="chooseDirectory()">Выбрать путь</button>
            <br/><br/>
            <div class="d-flex align-items-center justify-content-center">
                <input type="text" class="form-control" style="width: 200px" name="directoryPath" id="directoryPath" readonly>
            </div>
            <br/><br/>
            <div class="d-flex align-items-center justify-content-center">
                <i class="bi bi-file-earmark-bar-graph" style="font-size: 32px; color: #f2f2f2; padding-right: 5px"></i>
                <input class="btn btn-light btn-orange" type="submit" value="Сохранить отчёт">
            </div>
        </form>
        <script>
            function chooseDirectory() {
                window.directoryHandle = window.showDirectoryPicker();
                window.directoryHandle.then(handle => {
                    document.getElementById('directoryPath').value = handle.name;
                });
            }
        </script>
    </div>

    <section class="p-section font-cyrillic">
        <div style="padding-left: 300px; padding-right: 300px">
            <h4 class="text-center">Для более точного и подробного анализа и прогноза конкурентоспособности, а также помощи с разработкой стратегического плана, оставьте заявку нашему специалисту. В течении завтрашнего рабочего дня с Вами свяжутся.</h4>
        </div>
        <br/>
        <div style="background-color: #f2f2f2; padding-top: 20px; padding-bottom: 20px; text-align: center">
            <a id="mailButton" class="btn btn-link p-header" style="font-size: 24px; display: flex; align-items: center; justify-content: center">Заявка специалисту<i id="mailIcon" class="bi bi-chevron-compact-down" style="margin-left: 5px"></i></a>
            <div id="mailContent" class="section-content container" style="padding-left: 200px; padding-right: 200px; display: flex; align-items: center; justify-content: center">
                <form method="post" th:action="@{/send-email/{id}(id=${user.getId()})}">
                    <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
                    <br/>
                    <button class="btn btn-lg btn-light btn-orange" style="width: 150px" type="submit">Отправить</button>
                </form>
            </div>
        </div>
    </section>

    <script th:if="${successMessage}">
        window.onload = function() {
            showNotification();
        };
    </script>
    <div id="notification" class="font-cyrillic" style="display: none; width: 350px; height: 250px">
        <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
        <br/>
        <h5>Заявка успешно отправлена!</h5>
        <br/><br/>
        <button class="btn btn-lg btn-light btn-orange" onclick="closeNotification()">Ок</button>
    </div>
</div>
<footer th:insert="~{fragments/footer :: footer}"></footer>
</body>
</html>

