
.font-cyrillic{
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

.p-header{
    color: #2C3341;
    text-decoration: none
}
.p-header:hover{
    color: black;
    text-decoration: underline
}

.h-title{
    color: #2d3142;
    font-size: 15rem;
    font-weight: bold
}

.btn-orange{
    background-color: #ef8354;
    border-color: #ef8354;
    color: white
}
.btn-orange:hover {
    background-color: #EC6A32;
    border-color: #EC6A32;
}

.btn-link {
    display: inline-block;
    padding: 8px 16px;
    background-color: #ef8354;
    color: white;
    border: 1px solid #ef8354;
    text-decoration: none;
    font-size: 20px;
    cursor: pointer;
    border-radius: 5px;
}
.btn-link:hover {
    background-color: #EC6A32;
    border-color: #EC6A32;
    color: black;
}

.btn-logout {
    color: #2C3341;
    text-decoration: none;
    background-color: transparent;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
}

.btn-logout:hover {
    color: black;
    text-decoration: underline;
}

.p-section{
    padding-top: 100px;
    padding-bottom: 100px;
}

.i-color{
    color: white;
    text-decoration: none
}

.i-color:hover{
    color: #ef8354;
    text-decoration: none
}

#topBtn {
    display: none;
    position: fixed;
    font-size: 24px;
    align-items: center;
    font-weight: bold;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #cbcdcd;
    color: white;
    cursor: pointer;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    opacity: 0.7;
}

#topBtn:hover {
    background-color: #ef8354;
    color: white;
}

.section-content {
    display: none;
}

.chevron-compact-down-icon {
    transform: rotate(180deg);
}

.checkbox-label input[type="checkbox"] {
    margin-right: 5px;
}
.checkbox-list {
    column-count: 2;
}
